/* FORMULACIO VENTA TICKETS*/
:root{
    --celeste: #cce5ff;
    --verde: #97c93e;
    --junior: #ffc107;
    --trainee:#17a2b8;
    --estudiante: #007bff;

}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
#main_tickets{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    margin: 20px;
}
#ticket_cantidad{
    display: flex;
}
#ticket_cantidad, #opciones{
    margin-top: 10px;
}
#descuentos{
    display: flex;
    gap: 10px;
}
.card_descuento{
    border: 1px solid black;
    width: 250px;
    height: 220px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}
.card_descuento:nth-child(1){
    border: 1px solid var(--estudiante)
}
.card_descuento:nth-child(2){
    border: 1px solid var(--trainee)
}
.card_descuento:nth-child(3){
    border: 1px solid var(--junior)
}
#venta_tickets{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
}
.nombre_y_apellido{
    display: flex;
    width: 100%;
    margin: 15px;
    gap: 10px;
}
.error_input{
    border: 1px solid red;
}
.email{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 5px 0 ;
    display: flex;
}
.fields{
    padding: 10px;
    border-radius: 5px;
    border: solid 0.5px rgb(207, 207, 207);
    width: 100%;
    box-sizing: border-box;
}
.cantidadYCategoria{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    gap: 10px;
}
.cantidadYCategoria label{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 5px;
}
.cantidadYCategoria select{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

#total_a_pagar{
    display: flex;
    background-color: rgb(205, 226, 250);
    border-radius: 5px;
    border: 1x solid blue;
    height: 40px;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}
.botones{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.boton{
    background-color: var(--verde);
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}
header{
    justify-content: space-around;
}
.logo img{
    display: none;
}

footer{
    bottom: 0;
}
@media only screen and (max-width: 768px){
    #descuentos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}